<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165247309867-gvedst53f1a6kk4201m6l1ojofm2pvj4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165247309867-gvedst53f1a6kk4201m6l1ojofm2pvj4</string>
	<key>API_KEY</key>
	<string>AIzaSyDkkiwT_tEQQMgI-VzxU3b2sBwSxLUwXp8</string>
	<key>GCM_SENDER_ID</key>
	<string>165247309867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.homeCleaning</string>
	<key>PROJECT_ID</key>
	<string>home-cleaning-app-34752</string>
	<key>STORAGE_BUCKET</key>
	<string>home-cleaning-app-34752.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165247309867:ios:4c957a13e34f05814d326e</string>
</dict>
</plist>